<table border='0' width='100%'>
	<tr>
		<td width='30%'></td>
		<td>
			<div id='current_answer'>
				<%= render :partial => 'common/exam_results'%>
				<p><%= select_smile(@examEntity) %></p>
				<!--
				<p><%= link_to 'Новый тест', {:action => 'index'}, :class => 'blueLink' %></p>
				-->
				<p><a href="javascript:;" class="blueLink" onclick="window.close();">Закрыть</a></p>
			</div>			
		</td>
		<td width='30%'>&nbsp</td>					
	</tr>
</table>




